.container { @apply hidden; }
.activeContainer {
	@apply flex flex-col gap-2 w-[50rem] max-w-[95vw] p-4 text-base rounded-xl sm:flex-row 2xl:w-[75rem] 2xl:p-6;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.activeContainer:nth-child(2n) {
	@apply sm:flex-row-reverse;
}

.imageBackground {
	@apply self-stretch w-full text-white aspect-square overflow-hidden sm:w-2/5;
}

.imageBackground img {
	@apply h-full w-full object-fill rounded-lg 2xl:w-full;
}

.info {
	@apply flex flex-col gap-4 p-4 text-sm sm:w-3/5;
}

.titleContainer {
	@apply flex justify-between items-center gap-2 text-2xl font-bold 2xl:text-3xl;
}

.subtitle {
	@apply font-light text-base leading-none 2xl:text-xl;
}

.description {
	@apply text-base overflow-auto overflow-x-hidden sm:w-full sm:aspect-square 2xl:text-lg 2xl:aspect-[16/9];
}
