@font-face {
    font-family: "PlayFairItalic";
    src: url('../../resources/fonts/TextFonts.net_robinson-press-font/Webfont/Robinson\ Press.woff') format("woff");
  }
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@font-face {
    font-family: "YanoneSemiBold";
    src: url('../../resources/fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: "YanoneRegular";
    src: url('../../resources/fonts/Yanone_Kaffeesatz/static/YanoneKaffeesatz-Regular.ttf') format("truetype");
}
p{
    text-align: justify;
    font-family: "Merriweather";
}

.book-review-title{
    font-size: 14em;
    font-family: "PlayFairItalic";
}
.book-review-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #041b27;
    
}

.book-review-centerized-container{
    padding: 0 400pt
    
}

.white-text{
    color: white;
}
.black-text{
    color: black;
}

section{
    column-count: 3;
    column-gap: 2em;
}
section p:first-child::first-letter{
    color: #00818A;
    font-weight: bold;
    font-size: 4em;
    float: left;
    line-height: 1em;
    padding-right: .1em;
}

p{
    margin-bottom: 1em;
    font-size: 1em;
}

.book-landscape-picture{
    margin: 1em;
}
.book-landscape-picture img{
    border-radius: 10pt;
}

.description-review-section li{
    font-family: "Merriweather";
    font-size: 17px;
    margin-left: 10px;
    margin-top: 10px;
    list-style-type: disc;
    text-align: left;
}
