.icons-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.experience-icon-component-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: 0 .2em;
    border-radius: 10%;
    padding: 0.1em;
}

.experience-icon-component-margin{
    margin: 0 3em;
    width: 5em;
}

.experience-icon-image{
    width: 100%;
    display: flex;
    align-items: center;
    background-repeat: round;
    
}

.experience-icon-description{
    height: 1.5em;
    font-size: 0.8em;
    color: black;
    
    padding: 0 1.0em;
    border-radius: 0 0 10% 10%;
    color: white;
    font-weight: bold;
}
