.image-right-component{
    display: flex;
    min-height: 32rem;
    flex-direction: row;
    padding: 0em 4em;
    color: antiquewhite;    
}
.icon-image-container{
    height: 100%;
}
.image-container{
    flex-grow: 3;  
    min-width: 30%;      
}
.description-component{
    flex-grow: 5;
    
}

.description-title-container-right{
    min-width: 60%;
    display: flex;
    flex-direction: column;
    min-height: 2em;
    padding: 2em 3em;
    align-items: self-end;
}
.title-container{
    
    display: flex;
    flex-direction: row;
}
.description-title{
    font-size: 1.5vw;
    color: antiquewhite;
    white-space: nowrap;
}
.description-icon{
    color: antiquewhite;
}
.subtitle-right{
    font-size: 0.7vw;
    text-align: right;
}
.description-right{
    padding: 2em 0;
    font-size: 0.6vw;    
    text-align: justify;
    padding-left: 12em;
}


.background-image{
    
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;    
}

.subtitle-container-right{
    margin: 1em 00em 0 00em;
}

.right-title-container{
    display: flex;
    flex-direction: row;
}

.title-subtitle-description-container{
    display: flex;
    flex-direction: column;
    align-items: self-end;
}