@font-face {
    font-family: "ZrnicRg";
    src: url('../../resources/fonts/ZrnicRg/zrnic\ rg.ttf') format("truetype");
  }

.home-component-container{
    color: white;
}

.welcome-message-container{
    font-family: "ZrnicRg";
    position: absolute;	
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    font-size: 28pt;
}

.menu-container{
    position: absolute;
    min-width: 20%;
    height: 100%;
	text-align: center;
	z-index: 100;
	display:flex;
    justify-content: center;
    flex-direction: column;
    
}