.my-top-component{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0% 20% 0 20%;

}
.timeline-container{
color: antiquewhite;
display: flex;
flex-direction: row;
height: 3em;
justify-content: center;
align-items: center;
margin: 1em;
}
.timeline-button-container{
    display: flex;
    flex-direction: row;
    }
.timeline-year-button{
    background-color: aqua;
    width: 10em;
    height: 10%;
    justify-self: center;
    align-self: center;    
}